/* Color Scheme: 
	- White;
	- Blue: rgb(76,212,176);
	- Yellow: rgb(237,216,52);
	- Orange: rgb(242,77,22);
	- Purple: rgb(117,28,53); 
	- Text Grey: rgb(51,51,51);
*/


/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
  
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
/* END SCROLLBAR */
.required-asterisk {
	color: rgba(192, 57, 43,1.0); /* ERROR RED */
	font-size: 0.7em;
}

body {
	font-family: 'Comfortaa', sans-serif;
	color: rgb(51,51,51);
	background-color: white; /* WHITE */
}

a {
	color: rgb(117,28,53); /* PURPLE */
}

.control-label.col-xs-12 {
	padding: 0px;
}

.loading-check {
	color: rgb(51,51,51);
}

.success-check {
	color: rgba(39, 174, 96,1.0); /* SUCCESS GREEN */
}

.error-check, .error-msg {
	color: rgba(192, 57, 43,1.0); /* ERROR RED */
}

.error-msg {
	float: right;
	font-weight: bold;
}

.modal-header {
	background-color: rgb(237,216,52); /* YELLOW */
}

.modal-header h4 {
	font-weight: bold;
}

.btn {
	transition-duration: 0.3s;
}

.btn-primary {
	background-color: rgb(117,28,53); /* PURPLE */
	border-color: rgb(51,51,51); /* TEXT GREY */
	font-weight: bold;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.btn-primary:hover, .btn-primary:hover:disabled{
	background-color: rgb(99,24,45);
	border-color: rgb(51,51,51);
}

.middle-container {
	padding-top: 1em;
}

.top-nav {
	background-color: rgb(76,212,176); /* BLUE */
}

.top-nav, .top-nav a {
	color: white;
	text-decoration: none;
}

.top-nav .logo {
	width: 0.9em;
	margin-right: -0.2em;
}

.title {
	margin-top: 0.2em;
	transition-duration: 0.3s;
}

.title:hover {
	opacity: 0.7;
}

.menu-space {
	margin-top: 1.7em;
	margin-bottom: 1.7em;
}

.mobile-menu {
	padding-left: 2em;
	text-align: center;
}

.mobile-menu .menu li {
	margin-bottom: .6em;
}

.menu-space .menu li {
	float: right;
	padding: 0.5em;
	font-weight: bold;
	margin-left: 0.5em;
	cursor: pointer;
	transition-duration: 0.3s;
}

.menu-space .menu li.button {
	border: 2px solid white;
	border-radius: 1em;
}

.menu-space .menu li.button:hover {
	background-color: rgb(237,216,52);
	border-color: rgb(237,216,52);
	font-weight: bold;
}

.menu-space .menu li:not(.button) {
	text-decoration: underline;
}

.menu-space .menu li:not(.button):hover {
	color: rgb(237,216,52);
	text-decoration: none;
}


.banner img {
	width: 100%;
	opacity: .9;
	filter: blur(1px);
	overflow: hidden;
}

.banner {
	font-weight: bold;
	font-size: 1.5em;
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}

.banner {
	background-image: url('../img/banner.jpg');
	background-size: cover;
	min-height: 100vh;
}

.banner h2 {
	margin-top: 5em;
	background-color: rgba(237,216,52,0.7);
	padding: 0.5em;
	word-wrap: break-word;
	text-align: center;
	transition-duration: 0.5s;
}

.banner h2:hover {
	background-color: rgba(237,216,52,1);
}

#main-search-feedback {
	opacity: 0.3;
}

#main-search-form input:not(.submit), #main-search-form .form-group {
	width: 100%;
}

#main-search-form .submit {
	float: right;
	width: 95%;
}

#main-search-form .cols {
	padding: 0px;
}

.banner .or {
	font-size: 2.3em;
	margin-top: 1em;
	color: white;
}

.banner .start-selling {
	width: 100%;
	font-size: 2.3rem;
	font-weight: normal;
	height: auto;
	margin-bottom: 1em;
}

.all-but-footer {
	min-height: calc(100vh - 10em);
}

.footer {
	min-height: 10em;
	padding: 1em;
	background-color: rgb(51,51,51);
	color: rgba(255,255,255,0.8);
	margin-bottom: 0px;
}