/* Color Scheme: 
	- White;
	- Blue: rgb(76,212,176);
	- Yellow: rgb(237,216,52);
	- Orange: rgb(242,77,22);
	- Purple: rgb(117,28,53); 
	- Text Grey: rgb(51,51,51);
*/

body {
	font-family: 'Comfortaa', sans-serif;
	color: rgb(51,51,51);
	background-color: white; /* WHITE */
}

a {
	color: rgb(117,28,53); /* PURPLE */
}

.control-label.col-xs-12 {
	padding: 0px;
}

.loading-check {
	color: rgb(51,51,51);
}

.success-check {
	color: rgba(39, 174, 96,1.0); /* SUCCESS GREEN */
}

.error-check, .error-msg {
	color: rgba(192, 57, 43,1.0); /* ERROR RED */
}

.error-msg {
	float: right;
	font-weight: bold;
}

.modal-header {
	background-color: rgb(237,216,52); /* YELLOW */
}

.modal-header h4 {
	font-weight: bold;
}

.btn {
	transition-duration: 0.3s;
}

.btn-primary {
	background-color: rgb(117,28,53); /* PURPLE */
	border-color: rgb(51,51,51); /* TEXT GREY */
	font-weight: bold;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.btn-primary:hover, .btn-primary:hover:disabled{
	background-color: rgb(99,24,45);
	border-color: rgb(51,51,51);
}

.middle-container {
	padding-top: 1em;
}

.top-nav {
	background-color: rgb(76,212,176); /* BLUE */
}

.top-nav, .top-nav a {
	color: white;
	text-decoration: none;
}

.top-nav .logo {
	width: 0.9em;
	margin-right: -0.2em;
}

.title {
	margin-top: 0.2em;
	transition-duration: 0.3s;
}

.title:hover {
	opacity: 0.7;
}

.menu-space {
	margin-top: 1.7em;
	margin-bottom: 1.7em;
}

.menu li {
	float: right;
	padding: 0.5em;
	font-weight: bold;
	margin-left: 0.5em;
	cursor: pointer;
	transition-duration: 0.3s;
}

.menu li.button {
	border: 2px solid white;
	border-radius: 1em;
}

.menu li.button:hover {
	background-color: rgb(237,216,52);
	border-color: rgb(237,216,52);
	font-weight: bold;
}

.menu li:not(.button) {
	text-decoration: underline;
}

.menu li:not(.button):hover {
	color: rgb(237,216,52);
	text-decoration: none;
}
