/* Color Scheme: 
	- White;
	- Blue: rgb(76,212,176);
	- Yellow: rgb(237,216,52);
	- Orange: rgb(242,77,22);
	- Purple: rgb(117,28,53); 
	- Text Grey: rgb(51,51,51);
*/

.cart-product-item {
	background-color: #eee;
	padding: 1em;
	border-radius: 0.5em;
	margin-bottom: 1em;
}

.clear-cart-btn {
	display: none;
}

.added-when {
	text-transform: uppercase;
	font-size: 0.6em;
	font-weight: bold;
}

.cart-product-item h4 {
	font-weight: bold;
}

.cart-icon-wrapper {
	display: inline;
}

.cart-number {
	background-color: white;
	color: rgb(237,216,52);
	padding: 3px;
	border-radius: 5px;
}

#loading {
	display: none;
}

.margin-bottom {
	margin-bottom: 2em;
}

.prod-edit-pic-remove {
	background-color: rgba(192, 57, 43,1.0);
	color: white;
	padding-left: 0.3em;
	padding-right: 0.3em;
	border-radius: 0.3em;
	cursor: pointer;
	transition-duration: 0.3s;
}

.prod-edit-pic-remove:hover {
	filter: invert(100%);
}

a:hover {
	text-decoration: none;
}

.grey {
	color: rgba(51,51,51,0.5);
}

.product-card {
	border: 1px solid #e8e8e8;
	margin-bottom: 2em;
	padding: 1em;
	cursor: pointer;
	transition-duration: 0.5s;
}

.product-card:hover {
	-webkit-box-shadow: 1px 3px 4px 1px rgba(51,51,3,0.3);
	-moz-box-shadow: 1px 3px 4px 1px rgba(51,51,3,0.3);
	box-shadow: 1px 3px 4px 1px rgba(51,51,3,0.3);
}

.product-card img {
	width: 15em;
	height: 15em;
	border-radius: 0.3em 1em;
	object-fit: cover;
	border: 2px solid rgba(51,51,51,0.3);
}

.product-card h5 {
	font-weight: bold;
}

#flash-message .modal-body h4{
	font-weight: bold;
}

.seller-icon {
	color: rgb(76,212,176);
}

.user-badge {
	cursor: help;
}

.review-card {
	border-radius: 1em;
	border: 2px dashed rgba(51,51,51,0.5);
	padding: 0.5em;
	margin-bottom: 2em;
}

.review-card button {
	font-size: 0.7em;
	text-transform: uppercase;
}

.review-card .review-yours-footer {
	margin-top: 0.5em;
}

.review-card.yours {
	border-color: rgb(117,28,53);
}

.review-card h5 {
	font-weight: bold;
	font-size: 1.2em;
}

.review-card .review-date-area, .prod-card-date, .prod-page-date {
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bolder;
	opacity: 0.8;
	transition-duration: 0.3s;
}

.prod-page-date {
	opacity: 1;
}

.review-card .review-date-area:hover {
	opacity: 1;
}

.form-group-helper {
	opacity: 0.7;
	font-size: 0.7em;
	transition-duration: 0.3s;
}

.form-group-helper:hover {
	opacity: 1;
}


.prod-cat-disp-create, .prod-cat-disp, .prod-var-disp {
	background-color: rgb(237,216,52);
	border-radius: 0.5em;
	font-size: 0.7em;
	padding: 0.5em;
	font-weight: bold;
	margin-right: 1em;
	margin-bottom: 1em;
	cursor: pointer;
	transition-duration: 0.3s;
}

.prod-cat-disp-create i, .prod-var-disp i {
	display:none;
}

.prod-cat-disp-create:hover, .prod-var-disp:hover {
	background-color: rgba(192, 57, 43,1.0);
	color: white;
}

.prod-cat-disp-create:hover i, .prod-var-disp:hover i {
	display:inline-block;
}

.product-main h4 {
	font-weight: bold;
}

#prod-cat-selected {
	margin-bottom: 1em;
}

.big-form {
	font-size: 1.2em;
}

.selected-btn, .selected-btn:hover, .selected-btn:focus {
	background-color: rgb(51,51,51);
	color: white;
}

.hidden {
	display: none;
}

.settings-section {
	border-style: dashed;
	border-radius: 1em;
	margin-bottom: 1em !important;
	border-color: #eee; /* GREY */
}

.settings-section.update {
	border-color: rgb(76,212,176); /* BLUE */
}

.settings-section.critical {
	border-color: rgb(192,57,43); /* RED */
}

textarea {
	resize: vertical;
}

.banner-controls button {
	margin-top: 0.5em;
}

.address-card {
	border-radius: 1em;
	border: dashed rgba(51,51,51,0.5);
	padding: 1em;
	margin-bottom: 1em;
	height: 100%;
}

.addr-card-controls button {
	font-size: 0.8em;
}

@media (max-width: 991px) { /* sm and xs */
	.center-if-mobile {
		text-align: center;
	}

	.banner-controls button {
		margin-bottom: 0.5em;
	}

	.settings-nav li {
		display: inline;
	}
}

@media (min-width: 992px) { /* md and lg */
	.banner-controls button {
		width: 100%;
	}

	.settings-nav button {
		width: 100%;
		text-align: left;
		margin-bottom: 0.5em;
	}

	.center-if-desktop {
		text-align: center;
	}
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
  
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
/* END SCROLLBAR */
.required-asterisk {
	color: rgba(192, 57, 43,1.0); /* ERROR RED */
	font-size: 0.7em;
}

body {
	font-family: 'Comfortaa', sans-serif;
	color: rgb(51,51,51);
	background-color: white; /* WHITE */
}

a {
	color: rgb(117,28,53); /* PURPLE */
}

.control-label.col-xs-12 {
	padding: 0px;
}

.loading-check {
	color: rgb(51,51,51);
}

.success-check {
	color: rgba(39, 174, 96,1.0); /* SUCCESS GREEN */
}

.error-check, .error-msg {
	color: rgba(192, 57, 43,1.0); /* ERROR RED */
}

.error-msg {
	float: right;
	font-weight: bold;
}

.modal-header {
	background-color: rgb(237,216,52); /* YELLOW */
}

.modal-header h4 {
	font-weight: bold;
}

.btn {
	transition-duration: 0.3s;
}

.btn-primary {
	background-color: rgb(117,28,53); /* PURPLE */
	border-color: rgb(51,51,51); /* TEXT GREY */
	font-weight: bold;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.btn-primary:hover, .btn-primary:hover:disabled{
	background-color: rgb(99,24,45);
	border-color: rgb(51,51,51);
}

.middle-container {
	padding-top: 1em;
}

.top-nav {
	background-color: rgb(76,212,176); /* BLUE */
}

.top-nav, .top-nav a {
	color: white;
	text-decoration: none;
}

.top-nav .logo {
	width: 0.9em;
	margin-right: -0.2em;
}

.title {
	margin-top: 0.2em;
	transition-duration: 0.3s;
}

.title:hover {
	opacity: 0.7;
}

.menu-space {
	margin-top: 1.7em;
	margin-bottom: 1.7em;
}

.flash-category {
	text-transform: capitalize;
}

.menu-space .cart-icon {
	border-color: rgb(237,216,52) !important;
	border-style: dashed !important;
}

.mobile-menu {
	padding-left: 2em;
	text-align: center;
}

.mobile-menu .menu li {
	margin-bottom: .6em;
}

.menu-space .menu li {
	float: right;
	padding: 0.5em;
	font-weight: bold;
	margin-left: 0.5em;
	transition-duration: 0.3s;
}

.menu li {
	cursor: pointer;
}

.menu-space .menu li.button {
	border: 2px solid white;
	border-radius: 1em;
}

.menu-space .menu li.button:hover {
	background-color: rgb(237,216,52);
	border-color: rgb(237,216,52);
	font-weight: bold;
}

.menu-space .menu li:not(.button) {
	text-decoration: underline;
}

.menu-space .menu li:not(.button):hover {
	color: rgb(237,216,52);
	text-decoration: none;
}


.banner img {
	width: 100%;
	opacity: .9;
	filter: blur(1px);
	overflow: hidden;
}

.banner {
	font-weight: bold;
	font-size: 1.5em;
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}

.banner {
	background-image: url('../img/banner.jpg');
	background-size: cover;
	min-height: 100vh;
}

.banner h2 {
	margin-top: 5em;
	background-color: rgba(237,216,52,0.7);
	padding: 0.5em;
	word-wrap: break-word;
	text-align: center;
	transition-duration: 0.5s;
}

.banner h2:hover {
	background-color: rgba(237,216,52,1);
}

#main-search-feedback {
	opacity: 0.3;
}

#main-search-form input:not(.submit), #main-search-form .form-group {
	width: 100%;
}

#main-search-form .submit {
	float: right;
	width: 95%;
}

#main-search-form .cols {
	padding: 0px;
}

.banner .or {
	font-size: 2.3em;
	margin-top: 1em;
	color: white;
}

.banner .start-selling {
	width: 100%;
	font-size: 2.3rem;
	font-weight: normal;
	height: auto;
	margin-bottom: 1em;
}

.all-but-footer {
	min-height: calc(100vh - 10em);
	padding-bottom: 1em;
}

.index-banner {
	margin-top: -0.5em;
}

.footer {
	min-height: 10em;
	padding: 1em;
	background-color: rgb(51,51,51);
	color: rgba(255,255,255,0.8);
	margin-bottom: 0px;
}

.profile-banner, .product-banner {
	padding: 1em;
	margin-top: -1em;
	margin-left: -1.1em;
	margin-right: -1em;
}


.profile-banner {
	background-color: #eee;
}

.product-banner {
	background-color: rgb(76,212,176);
}


#profile-pic, .pic-preview, .pic-preview-large, .little-preview-pic, .prod-page-pic {
	object-fit: cover;
	border-radius: 1em 3.3em;
	border: 3px solid white;
}

#profile-pic, .pic-preview {
	width: 10em;
	height: 10em;
}

.pic-preview-large, .prod-page-pic {
	width: 15em;
	height: 15em;
}

#prod-pic #zoomed-pic {
	width: 100%;
}

.prod-circle {
	margin: 0.5em;
	cursor: pointer;
}

.little-preview-pic {
	width: 3em;
	height: 3em;
	border-radius: 0px;
	cursor: pointer;
}

.prod-page-pic {
	display: none;
	cursor: zoom-in;
}

.product-banner .prod-cat-disp{
	font-size: 0.9em;
}

.profile-banner p {
	font-size: 1.2em;
	font-weight: bold;
	opacity: 0.8;
	transition-duration: 0.3s;
}


.profile-banner p:hover {
	opacity: 1;
}

.profile-about p {
	word-wrap: break-word;
}

#rate-area {
	color: rgb(51,51,51);
	font-size: 2em;
}

#rate-area i {
	cursor: pointer;
}

#total-price {
	font-weight: bold;
	font-size: 1.5em;
	display: none;
}

.avg-rating {
	background-color: #eee;
	padding: 0.3em;
	border-radius: 1em;
}

.product-banner .prod-categories {
	margin-bottom: 1em;
}

.profile-banner .avg-rating {
	font-size: 1.5em;
}

.product-banner .avg-rating {
	font-size: 1.1em;
}

.row.profile {
	padding: 1em;
}

.fa-star,  .fa-star-o:not(.grey), .fa-star-half-o{
	color: rgb(237,216,52)
}

 .edit-btn {
	margin-top: 1em;
	font-size: 0.7em;
}

 .edit-btn, .banner-controls button {
	background-color: #eee;
	transition-duration: 0.5s;
}
.edit-btn:hover, .banner-controls button:hover {
	background-color: rgb(117,28,53); /* PURPLE */
	color: white;
}

.prod-edit-pic-pic {
	width: 100%;
	border: 2px solid #e8e8e8;
	margin-bottom: 1em;
	cursor: move;
	object-fit: cover;
	border-radius: 0.3em 1em;
}

.prod-edit-pic-span {
	background-color: white;
	font-size: 1.2em;
	margin-top: -1em;
	font-weight: bold;
	display:none;
	padding: 0.3em;
	border-radius: 0.3em;
	-webkit-box-shadow: 1px 3px 4px 1px rgba(51,51,3,0.3);
	-moz-box-shadow: 1px 3px 4px 1px rgba(51,51,3,0.3);
	box-shadow: 1px 3px 4px 1px rgba(51,51,3,0.3);
}
