/* Color Scheme: 
	- White;
	- Blue: rgb(76,212,176);
	- Yellow: rgb(237,216,52);
	- Orange: rgb(242,77,22);
	- Purple: rgb(125,20,36); 
	- Text Grey: rgb(51,51,51);
*/

body {
	font-family: 'Comfortaa', sans-serif;
	color: rgb(51,51,51);
	background-color: white; /* WHITE */
}

a {
	color: rgb(125,20,36); /* PURPLE */
}

.top-nav {
	background-color: rgb(76,212,176); /* BLUE */
	color: white;
}

.title {
	margin-top: 0.2em;
}

.menu-space {
	margin-top: 1.7em;
	margin-bottom: 1.7em;
}

.menu li {
	float: right;
	padding: 0.5em;
	font-weight: bold;
	margin-left: 0.5em;
	cursor: pointer;
	transition-duration: 0.3s;
}

.menu li.button {
	border: 2px solid white;
	border-radius: 1em;
}

.menu li.button:hover {
	background-color: rgb(237,216,52);
	border-color: rgb(237,216,52);
	font-weight: bold;
}

.menu li:not(.button) {
	text-decoration: underline;
}

.menu li:not(.button):hover {
	color: rgb(237,216,52);
	text-decoration: none;
}