{% from 'macros.html' import form_group with context %}
<form  id="send-new-message-form" action="{{ url_for('new_message') }}" method='post'>
	{% call form_group('Subject', 'subject') %}
		<input id="subject" class="form-control" type="text" placeholder="Subject.." name="subject">
	{% endcall %}
	{% call form_group('Message', 'message') %}
		<textarea class="form-control" name="message" placeholder="Message.." required></textarea>
	{% endcall %}
		<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
		<input type="hidden" name="send_to" value="{{ user.username }}"/>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<input type="submit" class="btn btn-primary" value="Send">
	</div>
</form>

