{% from 'macros.html' import form_group with context %}
<form  id="change-pic-form" enctype="multipart/form-data">
	<div class="col-xs-12 text-center">
			<img src="{{ user.picture }}" class="pic-preview">
			<h5>No preview available</h5>
	</div>
	{% call form_group('New Picture', 'photo') %}
		<input id="photo" class="form-control" type="file" name="photo" required>
	{% endcall %}	
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<input type="submit" class="btn btn-primary" value="Upload">
	</div>
</form>

<script src="{{ url_for('static', filename='js/form_change_pic.js') }}"></script>