{% from 'macros.html' import modal with context %}
<!doctype html>
<html lang="en-US">
	<head>
		<!--Metadata-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Yadawia {% block extend_title %}{% endblock %}</title>
		<!--End Metadata-->
		<!--CSS-->
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		{% assets "css_all" %}
    		<link rel="stylesheet" href="{{ ASSET_URL }}">
		{% endassets %}
		
		{% block css %}
		{% endblock %}
		<!--End CSS-->
		{{ JSGlue.include() }}
	</head>
	<body data-csrf="{{ csrf_token() }}" data-in="{% if session.logged_in %}true{% else %}false{% endif %}">
		<div class="all-but-footer">
		<div class="container-fluid top-nav">
			<div class="row">
				<div class="col-xs-12 col-md-4 title">
					<h1 title="Home"><a href="{{ url_for('home') }}"> {% include 'logo.html' %} Yadawia</a></h1>
				</div>
				<div class="col-xs-12 col-md-8 menu-space hidden-xs hidden-sm">
					{% include 'top_menu.html' with context %}
				</div>
			</div>
			<div class="row hidden-md hidden-lg">
				<div class="col-xs-12 mobile-menu">
					{% include 'top_menu.html' with context %}
				</div>
			</div>
		</div>
		<div class="container-fluid middle-container">
		{% block flash %}
			{% include 'flash.html' %}
		{% endblock %}
		{% block middle %}
		{% endblock %}
		</div>
		</div>
		<div class="container-fluid footer">
			<div class="col-xs-12 col-md-4">
				<h4>Yadawia, ltd.</h4>
				<p><i class="fa fa-copyright"></i> All rights reserved <span id="year"></span>.</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h4>Yadawia, ltd.</h4>
				<p><i class="fa fa-copyright"></i> All rights reserved <span id="year"></span>.</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h4>Yadawia, ltd.</h4>
				<p><i class="fa fa-copyright"></i> All rights reserved <span id="year"></span>.</p>
			</div>
		</div>
		<!--Modals-->
		{% call modal('login', 'Login') %}
			{% include 'form_login.html' with context %}
		{% endcall %}
		{% call modal('register', 'Register') %}
			{% include 'form_register.html' with context %}
		{% endcall %}
		{% block modals %}
		{% endblock %}
		<!--End Modals-->
		<!--Scripts-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		{% assets "js_all" %}
    		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}
		{% block scripts %}
		{% endblock %}
		<!--End Scripts-->
	</body>
</html>