{% from 'macros.html' import modal with context %}
<!doctype html>
<html lang="en-US">
	<head>
		<!--Metadata-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Yadawia {% block extend_title %}{% endblock %}</title>
		<!--End Metadata-->
		<!--CSS-->
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/layout.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		{% block css %}
		{% endblock %}
		<!--End CSS-->
		{{ JSGlue.include() }}
	</head>
	<body>
		<div class="container-fluid top-nav">
			<div class="row">
				<div class="col-xs-12 col-md-4 title">
					<h1 title="Home"><a href="{{ url_for('home') }}"> {% include 'logo.html' %} Yadawia</a></h1>
				</div>
				<div class="col-xs-12 col-md-8 menu-space hidden-xs hidden-sm">
					{% include 'top_menu.html' with context %}
				</div>
			</div>
			<div class="row hidden-md hidden-lg">
				<div class="col-xs-12 mobile-menu">
					{% include 'top_menu.html' with context %}
				</div>
			</div>
		</div>
		<div class="container-fluid middle-container">
		{% block flash %}
			{% include 'flash.html' %}
		{% endblock %}
		{% block middle %}
		{% endblock %}
		</div>
		<!--Modals-->
		{% call modal('login', 'Login') %}
			{% include 'form_login.html' with context %}
		{% endcall %}
		{% call modal('register', 'Register') %}
			{% include 'form_register.html' with context %}
		{% endcall %}
		<!--End Modals-->
		<!--Scripts-->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
		{% block scripts %}
		{% endblock %}
		<!--End Scripts-->
	</body>
</html>