{% macro modal(id, title) %}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="{{ id }}Label">{{ title }}</h4>
      </div>
      <div class="modal-body">
        {{ caller() }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro form_group(label, inputId, hasFeedback=False, hasLabel=True, required=False) %}
<div class="form-group {% if hasFeedback %}has-feedback{% endif %}">
  {% if hasLabel %}
	<label for="{{ inputId }}" class="control-label col-xs-12">{{ label }}:
  {% if required %}<span class="required-asterisk"><i class="fa fa-asterisk"></i></span>{% endif %}
  &nbsp;
    {% if hasFeedback %}
    <span id="{{ inputId }}-error-msg" class="error-msg"></span>
    {% endif %}
  </label>
  {% endif %}
		{{ caller() }}
    {% if hasFeedback %}
    <span class="form-control-feedback" id="{{ inputId }}-feedback"></span>
    {% endif %}
</div>
{% endmacro %}