{% macro modal(id, title, defaultFooter=False, cancel='Cancel', small=False, isFlash=False) %}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Label">
  <div class="modal-dialog {% if small %} modal-sm {% endif %}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="{{ id }}Label">
        {% if isFlash %}
          <span class="flash-category">{{ category }}</span>
        {% else %}
          {{ title }}
        {% endif %}
        </h4>
      </div>
      <div class="modal-body">
        <div class="modal-error-msg"></div>
        {{ caller() }}
        {% if defaultFooter %}
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ cancel }}</button>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro form_group(label, inputId, hasFeedback=False, hasLabel=True, required=False) %}
<div class="form-group {% if hasFeedback %}has-feedback{% endif %}">
  {% if hasLabel %}
	<label for="{{ inputId }}" class="control-label col-xs-12">{{ label }}:
  {% if required %}<span class="required-asterisk"><i class="fa fa-asterisk"></i></span>{% endif %}
  &nbsp;
    {% if hasFeedback %}
    <span id="{{ inputId }}-error-msg" class="error-msg"></span>
    {% endif %}
  </label>
  {% endif %}
		{{ caller() }}
    {% if hasFeedback %}
    <span class="form-control-feedback" id="{{ inputId }}-feedback"></span>
    {% endif %}
</div>
{% endmacro %}

{% macro settings_section(section_title, id, endpoint='', ajax=False, submit='Update', icon=None, requirePassword=False, additionalClass='') %}
<div class="row">
  <div class="col-xs-12 col-md-8 settings-section {{ additionalClass }}">
    <h3>{% if icon %}<i class="fa fa-{{ icon }}"></i> {% endif %}{{ section_title }}</h3>
      <form  id="{{ id }}-form" {% if not ajax %} action="{{ url_for(endpoint) }}" method='post' {% endif %}>
      <div class="main-error-msg"></div>
        {% if requirePassword %}
          {% call form_group('Current Password', 'old-password', required=True) %}
          <input id="old-password" class="form-control" type="password" placeholder="Current Password" name="password" required>
          {% endcall %}
        {% endif %}
        {{ caller() }}
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="{{ submit }}">
      </div>
    </form>
  </div>
</div>
{% endmacro %}

{% macro settings_nav(text, icon, section_id, selected=False) %}
<li>
  <button id="{{ section_id }}-button" class="btn btn-default settings-nav-button {% if selected %}selected-btn{% endif %}" data-section="{{ section_id }}">
    <i class="fa fa-{{ icon }}"></i> {{ text }}
  </button>
</li>
{% endmacro %}


{% macro saved_address(address, hasControls=True) %}
<div class="address-card">
  <h4><i class="fa fa-location-arrow"></i> {{ address.name }}</h4>
  <p title="Street Address">{{ address.text }}</p>
  <p title="Zip/Postal Code, City">{{ address.code }} {{ address.city }}</p>
  <p title="Country">{{ address.country_id | country_name }}</p>
  <p title="Phone">{% if address.phone %}<i class="fa fa-phone"></i> {% endif %}{{ address.phone }}</p>
  <div class="addr-card-controls text-right">
    <button class="addr-delete btn btn-danger" data-aID="{{ address.id }}" data-aName="{{ address.name }}"><i class="fa fa-trash"></i> Delete</button>
  </div>
</div>
{% endmacro %}

{% macro rating_stars(rating) %}
  {% set remainder = rating % 1 %}
  {% set full = (rating - remainder) | int %}
  {% set half = 0 %}
  {% if remainder >= 0.5 %}
    {% set half = 1 %}
  {% endif %}
  {% set empty = 5 - (full + half) %}

  {% for x in range(full) %}
    <i class="fa fa-star"></i>
  {% endfor %}
  {% for x in range(half) %}
    <i class="fa fa-star-half-o"></i>
  {% endfor %}
  {% for x in range(empty) %}
    <i class="fa fa-star-o"></i>
  {% endfor %}

{% endmacro %}