{% extends 'layout.html' %}
{% from 'macros.html' import rating_stars, form_group, review_card with context %}

{% block extend_title %}
| {{ product.name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}">
{% endblock %}

{% block middle %}
<div class="product-banner">
	<div class="row">
		<div class="col-xs-12 col-md-4 text-center">
			{% for upload in product.uploads %}
				<img class="prod-page-pic" id="{{ upload.id }}" data-circle="circ-{{ upload.id }}" src="{{ upload.url() }}">
			{% endfor %}
			<div id="prod-pic-circles" title="Click circle to view pictures."></div>
			{% if 'logged_in' in session and product.seller_id == session.userId %}
			<button class="btn btn-default edit-btn" data-toggle="modal" data-target="#prod-edit-pic"><i class="fa fa-pencil"></i> Edit Pictures</button>
			{% endif %}
		</div>
		<div class="col-xs-12 col-md-6 center-if-mobile">
			<h2>{{ product.name }} <small>by <a href="{{ url_for('profile', username=product.seller.username) }}">{{ product.seller.name_or_username() }}</a></small></h2>
			<ul class="list-unstyled list-inline prod-categories">
			{% for category in product.categories %}
					<li><span class="prod-cat-disp">{{ category.name }}</span></li>
			{% endfor %}
			</ul>
			{% if product.avg_rating() %}
				<p>
					<span title="{{ product.reviews.count() }} review(s)" class="avg-rating" title="Average rating ({{ product.avg_rating() }})">
						{{ product.avg_rating() }}
						{{ rating_stars(product.avg_rating()) }}
					</span>
				</p>
			{% endif %}
			<p>
				<i class="fa fa-clock-o"></i> 
				<span class="prod-page-date" data-date="{{ product.update_date }}"></span>
			</p>
		</div>
		<div class="col-xs-12 col-md-2 center-if-mobile banner-controls">
		{% if not session.logged_in or product.seller_id != session.userId %}
			<form id="add-to-cart" data-id="{{ product.id }}">
			<div id="add-cart-err-place"></div>
			{% call form_group('Variety', 'variety', required=True) %}
				<select name="variety" class="form-control" id="variety" required>
				{% if product.varieties.count() > 0 %}
					<option value="" disabled="disabled" selected>Choose A Variety</option>
					{% for variety in product.varieties %}
						<option value="{{ variety.id }}" data-price="{% if variety.price %}{{ variety.price }}{% else %}{{ product.price }}{% endif %}">{{ variety.name }}</option>
					{% endfor %}
				{% else %}
					<option value="default" data-price="{{ product.price }}">Default</option>
				{% endif %}
				</select>
			{% endcall %}
			{% call form_group('Quantity', 'quantity', required=True) %}
				<input type="number" name="quantity" id="quantity" class="form-control" min="1" value="1" required>
			{% endcall %}
			{% call form_group('Remarks', 'remarks') %}
				<textarea name="remarks" id="remarks" class="form-control"></textarea>
			{% endcall %}
			<div id="total-price">
				{% if product.currency.symbol %}
					{{ product.currency.symbol }}
				{% else %}
					{{ product.currency.id }}
				{% endif %}
				<span id="total-disp"></span>
			</div>
			<button type="submit" class="btn btn-default"><i class="fa fa-cart-plus"></i> Add to cart</button>
			</form>
		{% else %}
			<button class="btn btn-default" data-toggle="modal" data-target="#product-edit"><i class="fa fa-pencil"></i> Edit Product</button>
			
				<button class="btn btn-default" id="toggle-prod" data-prod="{{ product.id }}"><i class="fa fa-eye{% if product.available %}-slash{% endif %}"></i> Mark {% if product.available %}Una{% else %}A{% endif %}vailable</button>
			
		{% endif %}
		</div>
	</div>
</div>
<div class="product-middle">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-centered" title="Description">
			<div id="prod-error-place"></div>
			<h3>{{ product.description | paragraph | safe}}</h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-4 text-center new-review">
			<h4><i class="fa fa-pencil-square-o"></i> Your Review</h4>
			{% if session.logged_in and product.reviews.filter_by(user_id=session.userId).count() > 0 %}
				You have reviewed this item before!
			{% elif session.logged_in %}
				{% include 'form_review.html' with context %}
			{% else %}
				Login or Register to write a review!
			{% endif %}
		</div>
		<div class="col-xs-12 col-md-8">
			<h4><i class="fa fa-comment-o"></i> All Reviews</h4>
			{% if session.logged_in and product.reviews.filter_by(user_id=session.userId).first() %}
				{{ review_card(product.reviews.filter_by(user_id=session.userId).first(), owner=product.seller_id, yours=True) }}
			{% endif %}
			{% if product.reviews.count() > 0 %}
				{% for review in product.reviews %}
					{% if (not session.logged_in or review.user_id != session.userId) and not review.user.disabled %}
						{{ review_card(review, owner=product.seller_id) }}
					{% endif %}
				{% endfor %}
			{% else %}
				No reviews for this product yet.
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block modals %}
	{% call modal('prod-pic', 'Details') %}
		<img id="zoomed-pic">
	{% endcall %}
	{% if 'logged_in' in session and product.seller_id == session.userId %}
		{% call modal('product-edit', 'Edit Product') %}
			{% include 'form_edit_product.html' with context %}
		{% endcall %}
		{% call modal('prod-edit-pic', 'Edit Pictures') %}
			<div class="row">
			<div class="col-xs-12">
				<h4>Drag and drop the pictures to re-arrange them.</h4>
				<ul id="sortable" class="list-inline list-unstyled">
					{% for pic in product.uploads %}
						<div class="col-xs-6 col-md-3">
							<li class="ui-state-default prod-edit-pic-li" data-id="{{ pic.id }}"><img class="prod-edit-pic-pic" src="{{ pic.url() }}"><br><span class="prod-edit-pic-span"></span>
							<span class="prod-edit-pic-remove"><i class="fa fa-minus"></i></span>
							</li>
						</div>
					{% endfor %}
				</ul>
				<br>
			</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<form id="prod-pic-edit-form" method="POST" action="{{ url_for('edit_product_pics', productID=product.id) }}">
					<div class="hidden-parts"></div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
					<div class="modal-footer">
			            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			            <button type="submit" class="btn btn-primary">Save</button>
			          </div>
					</form>
				</div>
			</div>
		{% endcall %}
	{% endif %}
	{% if 'logged_in' in session and product.reviews.filter_by(user_id=session.userId).count() > 0 %}
		{% call modal('edit-review-modal', 'Edit Review') %}
			{% with review=product.reviews.filter_by(user_id=session.userId).first(), review_edit=True %}
				{% include 'form_review.html' with context %}
			{% endwith %}
		{% endcall %}
		{% call modal('delete-review-modal', 'Delete Review') %}
			<h3>Are you sure you want to delete your review?</h3>
			<form method="POST" action="{{ url_for('delete_review', productID=product.id) }}" class="text-center">
				<input type="hidden" value="{{ csrf_token() }}" name="_csrf_token">
				<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</form>
		{% endcall %}
	{% endif %}
{% endblock %}
