{% extends 'layout.html' %}
{% from 'macros.html' import rating_stars, change_pic_form with context %}

{% block extend_title %} 
| {% if user.name %}{{ user.name }}{% else %}{{ user.username }}{% endif %}
{% endblock %}

{% block middle %}
<div class="profile-banner">
	<div class="row">
		<div class="col-xs-12 col-md-3 text-center">
			<img id="profile-pic" src="{% if not picture_url %}{{ url_for('static', filename='img/logo.svg') }}{% else %}{{ picture_url }}{% endif %}"/>
			<br>
			{% if is_curr_user %}
			<button data-toggle="modal" data-target="#change-pic" class="btn btn-default edit-btn" title="Upload a new profile picture."><i class="fa fa-upload"></i> Change</button>
			{% endif %}
		</div>
		<div class="col-xs-12 col-md-6 center-if-mobile">
			{% if user.name %}
				<h2>{{ user.name }} <small>({{ user.username }})</small></h2>
			{% else %}
				<h2>{{ user.username }}</h2>
			{% endif %}
			{% if user.location %}
				<div class="profile-location">
					<p><i class="fa fa-map-marker"></i> {{ user.location }}</p>
				</div>
			{% endif %}
			{% if avg_rating %}
				<div class="profile-avg-rating" title="Average product rating ({{ avg_rating }})" style="font-size:1.5em;">
					{{ avg_rating }}
					{{ rating_stars(avg_rating) }}
				</div>
			{% endif %}
		</div>
		<div class="col-xs-12 col-md-3 text-center profile-controls">
			{% if is_curr_user %}
				<button class="btn btn-default" title="Edit profile" data-toggle="modal" data-target="#edit-profile"><i class="fa fa-pencil"></i> Edit Profile</button>
				<a href="{{ url_for('settings') }}"><button class="btn btn-default" title="Settings"><i class="fa fa-gear"></i> Settings</button></a>
				<button class="btn btn-default" title="Order History"><i class="fa fa-history"></i> Order History</button>
				<button class="btn btn-default" title="Messages"><i class="fa fa-envelope"></i> Messages</button>
			{% elif session.logged_in %}
				<button class="btn btn-default" title="Send a message" data-toggle="modal" data-target="#send-message"><i class="fa fa-envelope"></i> Send A Message</button>
				<button class="btn btn-default" title="Report User" data-toggle="modal" data-target="#report-user"><i class="fa fa-flag"></i> Report User</button>
			{% endif %}
		</div>
	</div>
</div>
<div class="row">
	{% if user.about %}
	<div class="col-xs-12 profile-about text-center">
		<h3>{{ user.about }}</h3>
	</div>
	{% endif %}
</div>
<div class="row profile">
	{% block profile_middle %}
		{% include 'profile_products.html' with context %}
	{% endblock %}
</div>

{% endblock %}

{% block modals %}
	{% call modal('change-pic', 'Change Profile Picture') %}
	<form  id="{{ id }}" class="change-pic-form"  method="POST" action="{{ url_for('upload_avatar') }}" enctype="multipart/form-data">
		{% with curr_pic=picture_url %}
			{{  change_pic_form('change-avatar', curr_pic=curr_pic) }}
		{% endwith %}
	</form>
	{% endcall %}
	{% call modal('edit-profile', 'Edit Profile') %}
		{% with user=user %}
			{% include 'form_edit_profile.html' with context %}
		{% endwith %}
	{% endcall %}
	{% if not is_curr_user and session.logged_in %}
		{% call modal('send-message', 'Send A Message') %}
			{% with user=user %}
				{% include 'form_send_message.html' with context %}
			{% endwith %}
		{% endcall %}
		{% call modal('report-user', 'Report User') %}
			{% with user=user %}
				{% include 'form_report.html' with context %}
			{% endwith %}
		{% endcall %}
	{% endif %}
{% endblock %}