{% extends 'layout.html' %}

{% block middle %}
<div class="profile-banner">
	<div class="row">
		<div class="col-xs-12 col-md-3 text-center">
			<img id="profile-pic" src="{% if not user.picture_url %}{{ url_for('static', filename='img/logo.svg') }}{% else %}{{ user.picture_url }}{% endif %}"/>
			<br>
			{% if is_curr_user %}
			<button data-toggle="modal" data-target="#change-pic" class="btn btn-default edit-btn" title="Upload a new profile picture."><i class="fa fa-upload"></i> Change</button>
			{% endif %}
		</div>
		<div class="col-xs-12 col-md-6 center-if-mobile">
			{% if user.name %}
				<h2>{{ user.name }} <small>({{ user.username }})</small></h2>
			{% else %}
				<h2>{{ user.username }}</h2>
			{% endif %}
			{% if user.location %}
				<div class="profile-location">
					<p><i class="fa fa-map-marker"></i> {{ user.location }}</p>
				</div>
			{% endif %}
				<div class="profile-avg-rating" title="Average product rating (5.0)" style="font-size:1.5em;">
					5.0
					<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				</div>
		</div>
		<div class="col-xs-12 col-md-3 text-center profile-controls">
			{% if is_curr_user %}
				<button class="btn btn-default" title="Edit profile" data-toggle="modal" data-target="#edit-profile"><i class="fa fa-pencil"></i> Edit Profile</button>
				<button class="btn btn-default" title="Settings"><i class="fa fa-gear"></i> Settings</button>
				<button class="btn btn-default" title="Order History"><i class="fa fa-history"></i> Order History</button>
				<button class="btn btn-default" title="Messages"><i class="fa fa-envelope"></i> Messages</button>
			{% else %}
				This is another person!
			{% endif %}
		</div>
	</div>
</div>
<div class="row profile">
	{% if user.about %}
	<div class="col-xs-12 profile-about text-center">
		<h3>{{ user.about }}</h3>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block modals %}
	{% call modal('change-pic', 'Change Profile Picture') %}
		{% with curr_pic=user.picture_url %}
			{% include 'form_change_pic.html' with context %}
		{% endwith %}
	{% endcall %}
	{% call modal('edit-profile', 'Edit Profile') %}
		{% with user=user %}
			{% include 'form_edit_profile.html' with context %}
		{% endwith %}
	{% endcall %}
{% endblock %}