{% extends 'layout.html' %}
{% from 'macros.html' import product_card, search_bar with context %}

{% block extend_title %}
| Search Results
{% endblock %}

{% block middle %}
<div class="row">
	<div class="col-xs-12 margin-bottom">
		<h2>{% if not category %}Search Results{% else %} {{ category.name }} {% endif %} <small>{{ matches | length }} found</small></h2> 
		{% if not category %} {{ search_bar(term=term) }} {% endif %}
	</div>
</div>
	{% if matches %}
		{% for match in matches %}
		{% if loop.index % 3 == 0 %}<div class="row">{% endif %}
		<div class="col-xs-12 col-md-3">
			{{ product_card(match) }}
		</div>
		{% if loop.index % 3 == 0 %}</div>{% endif %}
		{% endfor %}
	{% else %}
	<div class="row">
		<div class="col-xs-12">
			<h3>No matches found for your query.</h3>
		</div>
	</div>
{% endif %}
{% endblock %}