{% extends 'layout.html' %}

{% block extend_title %}
| Terms & Conditions
{% endblock %}

{% block middle %}
	<div class="col-xs-12 col-md-6 col-centered">
		<h3>Terms & Conditions <small>Updated: May 5th, 2017 12:00</small></h3>
		<h4>Usage</h4>
		<p>You have to be 13 or older to use this site.</p>
		<h4>Copyrights and Ownership</h4>
		<p>Yadawia does not own copyrights to any products shown that are displayed or are being sold by third parties. When you sell with us, you retain all copyright to your material as applicable in your country's laws.</p>
		<h4>Liability</h4>
		<p>Yadawia is not liable for any damage caused by a product sold through the website, although it retains the right to suspend the accounts of those reported to have caused damage.</p>
		<h4>Returns</h4>
		<p>Returns are only viable within 3 days of the delivery date and while the product is in purchase condition. You will get the price of the product back, but not any processing or extra fees of any kind.</p>
		<h4>Payment</h4>
		<p>If you sold an item through Yadawia, you will get your money within 3 days of delivery to the customer given that the customer did not return the item; in which case, you will be asked to pick it up from a Yadawia center, or you can request delivery for a small fee.</p>
		<h4>Fees</h4>
		<p>For sellers: Yadawia automatically deducts 5% of the list price of any item you post for delivery and processing. For buyers: fees are limited to payment processing fees, which are displayed during checkout.</p>
		<h4>Legality</h4>
		<p>This agreement is just for show and is not legally binding in any way since this is a course project and nothing is actually being sold.</p>
	</div>
{% endblock %}